<div>
  <h1>{{post.title}}</h1>
  <p>Post: {{post.content}}</p>
  <p>Category: {{post.category}}</p>
  <p>Creation date: {{post.createdAt}}</p>
  <p>Photo: <img src="{{post.photo}}" alt="post-image"></p>
  <a href="/profile-page/view/{{post.userId}}">View User Profile</a>

  <div class= "ignore-form">
    {{#if isPostCreator}}
    <form action="/post-page/delete/{{post.postId}}?_method=DELETE" method="post"></form>
    <button onclick="return confirm('Are you sure you want to delete this post?')">Delete Post</button> 
    <a href="/post-page/update/{{post.postId}}">
      <button>Edit Post</button>
    </a>
  {{/if}}
  </div>
</div>




