<h1>Welcome to {{title}}</h1>
<p>This is the home page.</p>
<div>
  {{#each posts}}
    <li><a href="/post-page/{{this.postId}}">{{this.title}} {{this.content}} <img src="{{this.photo}}" alt="post-image"></a></li>
  {{/each}}
</ul>
</div>


